In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [6]:
a_list = [[11, 22, 33], [44, 55, 66]]
df = pd.DataFrame(a_list)
# print(df)
# print("-------------")
# df
print("type of df:", type(df), "df.types:", df.dtypes)

type of df: <class 'pandas.core.frame.DataFrame'> df.types: 0    int64
1    int64
2    int64
dtype: object

In [8]:
a_list = [[11, 22, 33], [44, 55, 66]]
df = pd.DataFrame(a_list, index=["age", "height"])
df

         0   1   2
age     11  22  33
height  44  55  66

In [14]:
a_dictionary = {"age": [11, 22, 33], "height":[44, 55, 66]}
df = pd.DataFrame(a_dictionary)
df

   age  height
0   11      44
1   22      55
2   33      66

In [17]:
print(df["height"])
type(df["height"])

0    44
1    55
2    66
Name: height, dtype: int64

pandas.core.series.Series

In [19]:
a_dictionary = {"age": [11, 22, 33, 77, 88], "height":[44, 55, 66, None, None]}
df = pd.DataFrame(a_dictionary)
df

   age  height
0   11    44.0
1   22    55.0
2   33    66.0
3   77     NaN
4   88     NaN